In [7]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import seaborn as sns

In [8]:
test = pd.read_csv("test.csv")
train = pd.read_csv("train.csv")

In [9]:
train

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score
0,0x21e3,Apartment,106,NaN,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86,71.98
1,0x68d4,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55,71.20
2,0x7d81,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81,71.39
3,0x7a57,Apartment,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34,31.46
4,0x9409,Bungalow,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77,93.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39494,0x6e26,Single-family home,1120,3.0,2,NaN,0.0,No,All time,5.55,Slightly above average,Medium,80.0,3.56,73.43
39495,0xa013,Apartment,445,1.0,3,Fully Furnished,1.0,No,All time,5.70,Slightly above average,Medium,86.0,2.93,79.91
39496,0x9721,Bungalow,3780,6.0,6,Unfurnished,0.0,Yes,Once in two days,6.84,Well below average,Medium,137.0,3.80,81.44
39497,0x7e25,Single-family home,1266,3.0,1,Semi_Furnished,0.0,No,Once in a day - Morning,4.60,Slightly above average,NaN,88.0,3.25,71.33
39498,0x8cb4,Single-family home,1229,2.0,4,Fully Furnished,0.0,No,All time,8.29,Well below average,High,132.0,4.67,83.25

In [145]:
#Renaming string to int
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
con_cols =["Property_ID","Property_Type","Furnishing","Water_Supply",'Power_Backup',"Crime_Rate","Dust_and_Noise"]
for i in con_cols:
    le=LabelEncoder()
    train[i]=le.fit_transform(train[i])

In [146]:
#checking the position of the null values
train.isnull().sum()

Property_ID                  0
Property_Type                0
Property_Area                0
Number_of_Windows         1654
Number_of_Doors              0
Furnishing                   0
Frequency_of_Powercuts    1383
Power_Backup                 0
Water_Supply                 0
Traffic_Density_Score        0
Crime_Rate                   0
Dust_and_Noise               0
Air_Quality_Index            0
Neighborhood_Review          0
Habitability_score           0
dtype: int64

In [147]:
#we are her replacing the null values eith the mean value of that coloumn
train.fillna(value = train['Number_of_Windows'].mean(),inplace = True)
train.fillna(value = train['Frequency_of_Powercuts'].mean(),inplace = True)

In [148]:
test

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,0x6e93,Apartment,293,3.0,1,Unfurnished,0.0,No,Once in a day - Morning,7.28,Well above average,Medium,152.0,2.52
1,0x8787,Apartment,586,4.0,1,Semi_Furnished,0.0,No,Once in a day - Evening,7.63,Well below average,Medium,92.0,4.16
2,0x6c17,Container Home,305,1.0,2,Semi_Furnished,1.0,No,All time,5.39,Slightly above average,Medium,90.0,2.92
3,0x9dbd,Apartment,258,2.0,1,Semi_Furnished,1.0,No,All time,7.53,Slightly below average,Medium,158.0,3.45
4,0xbfde,Bungalow,3031,12.0,4,Fully Furnished,0.0,No,All time,8.79,Well above average,High,186.0,2.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10495,0x423d,Apartment,961,NaN,3,Unfurnished,0.0,No,Once in a day - Evening,5.44,Slightly below average,Medium,94.0,3.55
10496,0x78c5,Container Home,282,1.0,2,Semi_Furnished,3.0,Yes,All time,6.72,Well below average,Medium,106.0,2.90
10497,0xbf3,Duplex,27445,NaN,2,Fully Furnished,0.0,No,Once in a day - Evening,9.28,Well below average,High,149.0,4.02
10498,0x305b,Single-family home,1451,2.0,3,Unfurnished,1.0,Yes,Once in a day - Evening,6.25,Well below average,Medium,131.0,3.49
10499,0x5cff,Apartment,578,NaN,1,Semi_Furnished,0.0,No,All time,5.98,Slightly below average,Medium,112.0,4.15

In [149]:
var = pd.DataFrame(test["Property_ID"])
var

      Property_ID
0          0x6e93
1          0x8787
2          0x6c17
3          0x9dbd
4          0xbfde
...           ...
10495      0x423d
10496      0x78c5
10497       0xbf3
10498      0x305b
10499      0x5cff

[10500 rows x 1 columns]

In [150]:
#Remaining string to int
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
con_cols =["Property_ID","Property_Type","Furnishing","Water_Supply",'Power_Backup',"Crime_Rate","Dust_and_Noise"]
for i in con_cols:
    le=LabelEncoder()
    test[i]=le.fit_transform(test[i])

In [151]:
#checking the position of the null values
test.isnull().sum()

Property_ID                 0
Property_Type               0
Property_Area               0
Number_of_Windows         445
Number_of_Doors             0
Furnishing                  0
Frequency_of_Powercuts    366
Power_Backup                0
Water_Supply                0
Traffic_Density_Score       0
Crime_Rate                  0
Dust_and_Noise              0
Air_Quality_Index           0
Neighborhood_Review         0
dtype: int64

In [152]:
#we are her replacing the null values eith the mean value of that coloumn
test.fillna(value = train['Number_of_Windows'].mean(),inplace = True)
test.fillna(value = test['Frequency_of_Powercuts'].mean(),inplace = True)

In [153]:
independent = pd.DataFrame(train.drop(["Habitability_score"],axis=1))
dependent = pd.DataFrame(train["Habitability_score"])

In [154]:
X,x,Y,y = train_test_split(independent,dependent,test_size=0.25,random_state=200)

from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()
sc.fit(X)
X = sc.transform(X)
x = sc.transform(x)
sc.fit(Y)
Y = sc.transform(Y)
y = sc.transform(y)

In [155]:
from sklearn.ensemble import RandomForestRegressor
RF = RandomForestRegressor(random_state=25, n_jobs=-1, max_depth=20,n_estimators=900, oob_score=True)
RF.fit(X,Y)
RF.score(x,y)

/var/folders/gf/273yncj54yl6zdb8vt2p68fw0000gn/T/ipykernel_1197/1414205808.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  RF.fit(X,Y)

0.8274001519370415

In [160]:
pred = pd.DataFrame(RF.predict(test))
pred["Habitability_score"]=pred[0]
pred.drop([0],axis=1,inplace =True)
pred1 = pd.concat([var,pred],axis=1)
pred1.to_csv("predictions.csv", index = False)